<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @line.name %>
</p>


<%= link_to 'Edit', edit_reporting_forms_finresult_line_path(@line) %> |
<%= link_to 'Back', reporting_forms_finresult_lines_path %>
