<%= link_to 'Назад', company_reportings_tanimotos_path %>
<h3>Підприємство <%= @company.name %> </h3>
<h1 style="text-align:center;">Танімото</h1>

<%= render 'form' %>

<%= link_to 'Назад', company_reportings_tanimotos_path %>