<p id="notice"><%= notice %></p>
<%= link_to 'Редагувати', edit_company_reportings_tanimoto_path(params[:company_id], @report) %> |
<%= link_to 'Зберегти в PDF', {:controller => "reportings/tanimotos", :action => "download_pdf", :company_id=>@company.id, :id=>@report.id} %> |
<%= link_to 'Назад', company_reportings_tanimotos_path %>
</br>