<%= link_to 'Назад', company_reportings_b1s_path %>
<h3>Підприємство <%= @company.name %> </h3>
<h1 style="text-align:center;">Форма 1-Б</h1>

<%= render 'form' %>

<%= link_to 'Назад', company_reportings_b1s_path %>
