<p id="notice"><%= notice %></p>

<p>
  <b>Назва статті:</b>
  <%= @line.name %>
</p>

<%= link_to 'Редагувати', edit_reporting_forms_labor_line_path(@line) %> |
<%= link_to 'Назад', reporting_forms_labor_lines_path %>
