<%= link_to 'Назад', company_reportings_finresults_path %>
<h3>Підприємство <%= @company.name %> </h3>
<h1 style="text-align:center;">Звіт про фінансові результати</h1>

<%= render 'form' %>

<%= link_to 'Назад', company_reportings_finresults_path %>
