<h1>Финансовый план на <%= @reportings_plan.period.strftime("%d.%m.%Y") %> </h1>

<%= render 'form' %>

<%= link_to 'Просмотр', company_reportings_plan_path(params[:company_id],@reportings_plan) %> |
<%= link_to 'Назад', company_reportings_plans_path %>
