<%= link_to 'Назад', company_reportings_balances_path %>
<h3>Підприємство <%= @company.name %> </h3>
<h1 style="text-align:center;">Баланс</h1>

<%= render 'form' %>

<%= link_to 'Назад', company_reportings_balances_path %>
