/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
    color:#969696;
    font-family: Georgia;
    background-color: #fff; color: #444;
    padding-left:50px;
    width: 95%;
    text-align: left;
}
body, p, ol, ul, td {
  font-family: georgia,helvetica,sans-serif;
  font-size:   12px;
  line-height: 18px;
}
ul,ol, li {
	list-style:none;
	margin:0px;
}
a {
    text-decoration: none;
   color: #086eff;
}a:hover {
    text-decoration: underline;
}
div.main-header{
    width: 90%;
    text-align: left;
    padding-top: 0px;
    padding-left: 100px;
    position: relative;
    margin: 0px;
}
.main-header li{
    font-size: 18px;
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

.field{
    /*max-width:60%;*/
  /*background-color: #D1D8F6;*/
}

#user_nav
{
    position:absolute;
    right:30px;
    top:20px;
    text-align:right;
}
.green
{
    font-size:14px;
    color:green;
}
.part
{
    font-size:16px;
}

table {
  border: solid 1px #666;
  border-collapse: collapse;
  margin: 10px 0;
}

table th {
  font-size: 10px;
  color: #FFF;
  background-color: #404C99;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: left;
}

table td {
  padding: 4px 8px;

    border: 1px gray solid;
	border-top: 1px;
	border-right: 1px gray Solid;
	border-left: 1px gray Solid;
	border-bottom: 1px gray dotted;
	border-spacing: 0px;
	border-collapse: collapse;
    table-layout: fixed;
    line-height:10px;
}

table .even td {
  background-color: #E3E6FF;
}

table .odd td {
  background-color: #D1D8F6;
}

#line_items {
    width:100%;
}



#line_items td {
    width:100%;
}


table.company{
 width:100%;
 	border-top: 1px gray Solid;
	border-right: 1px gray Solid;
	border-left: 1px gray Solid;
	border-bottom: 1px gray Solid;
}



